# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
env/
venv/
ENV/
.venv/
*.egg-info

# General ignores
.git
.gitignore
node_modules
tests/
test/
*.log
*.db
*.sql
.vscode/

# Distribution/packaging
dist/
build/
*.whl

# System files
.DS_Store